.u-centerText {
  text-align: center;
}

.u-marginTopBig {
  margin-top: 8rem;
}

.u-marginBottomBig {
  margin-bottom: 8rem;
}

.u-marginBottomMed {
  margin-bottom: 3rem;
}

.u-marginBottomSmall {
  margin-bottom: 1.5rem;
}
