// COLORS
$primary: #7ed56f;
$primary-light: #55c57a;
$primary-dark: #28b485;
$primary-gradient: linear-gradient(
  to right bottom,
  $primary-light,
  $primary-dark
);

$secondary-light: #ffb900;
$secondary-dark: #ff7730;
$secondary-gradient: linear-gradient(
  to right bottom,
  $secondary-light,
  $secondary-dark
);

$tert-light: #2998ff;
$tert-dark: #5643fa;
$tert-gradient: linear-gradient(
  to right bottom,
  $tert-light,
  $tert-dark
);

$white: #fff;

$grey-light-1: #ebebeb;
$grey-light-2: #eee;

$grey-dark-1: #777;

$black: #1f1f1f;

$shadow-card: 0 1.5rem 4rem rgba($black, 0.15);
$shadow-text: 0 0.5rem 1.5rem rgba($black, 0.2);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;
