.sectionAbout {
  background-color: $grey-light-1;
  padding: 35vh 0;
  margin-top: -20vh;
}

.sectionFeatures {
  padding: 15vh 0;
  margin-top: -15vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-light, 0.8),
      rgba($primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.sectionTours {
  background-color: $grey-light-1;
  padding: 35vh 0;
  margin-top: -20vh;
}

.sectionStories {
  background-color: $grey-light-1;
  padding: 25vh 0;
  margin-top: -20vh;
}
