.header {
  height: 100vh;
  margin-top: -7%;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-light, 0.8),
      rgba($primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  transform: skewY(-7deg);

  &_logo-box {
    position: absolute;
    top: 6rem;
    left: 4rem;
  }

  &_logo {
    height: 3.5rem;
  }

  & > * {
    transform: skewY(7deg);
  }

  &_textBox {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%) skewY(7deg);
    text-align: center;
  }
}
